Auth/
CBV/
DRF/
DatabaseAndModels/
DjangoAdmin/
DjangoIntro/
Django_Cache/
Docs/
Files/
Forms/
LinuxIntro/
RequestsAndMiddlewares/
Testing/
i18n_l10n/
import_export/
logging/
permissions/
prod/
queries/


*.pyc
__pycache__/
.env
*.sqlite3
/static
.DS_Store
