<!DOCTYPE html>
<html>
<head>
    <title>Список статей</title>
</head>
<body>
    <h1>Список статей</h1>
    <ul>
    {% for article in articles %}
        <li>
            <h2>{{ article.title }}</h2>
            <p>Опубликовано: {{ article.pub_date }}</p>
            <p>Автор: {{ article.author.name }}</p>
            <p>Категория: {{ article.category.name }}</p>
            <p>Теги:
                {% for tag in article.tags.all %}
                    {{ tag.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    Нет тегов
                {% endfor %}
            </p>
        </li>
    {% empty %}
        <li>Статей нет</li>
    {% endfor %}
    </ul>
</body>
</html>
